[package]
name = "system76-scheduler"
description = "Linux service that manages process priorities and CFS scheduler latencies for improved responsiveness on the desktop"
repository = "https://github.com/pop-os/system76-scheduler"
version = "1.2.0"
edition = "2021"
license = "MPL-2.0"
publish = false

[dependencies]
anyhow = "1.0.57"
futures = "0.3.21"
libc = "0.2.125"
num_cpus = "1.13.1"
serde = { version = "1.0.137", features = ["derive"] }
serde_repr = "0.1.8"
thiserror = "1.0.31"
upower_dbus = "0.2.0"
zbus = "2.2.0"
zvariant = "3.2.0"
# ron = "0.7.0"
tracing = "0.1.34"
concat-in-place = "1.1.0"
itoa = "1.0.1"
fomat-macros = "0.3.1"
ioprio = "0.2.0"
compact_str = { version = "0.3.2", features = ["serde"] }
execsnoop = { path = "../execsnoop" }
next-gen = "0.1.1"
const_format = "0.2.23"
clap = { version = "3.1.18", features = ["cargo"] }

# Necessary for deserialization of untagged enums in assignments.
[dependencies.ron]
git = "https://github.com/MomoLangenstein/ron"
branch = "253-untagged-enums"

[dependencies.tracing-subscriber]
version = "0.3.11"
features = ["env-filter"]

[dependencies.tokio]
version = "1.18.1"
features = ["fs", "macros", "rt", "sync", "time"]
