#!/usr/bin/make -f

export DESTDIR = debian/system76-scheduler
export EXECSNOOP_PATH ?= /usr/sbin/execsnoop-bpfcc
export sysconfdir = "/usr/share"
export VENDOR ?= 1
CLEAN ?= 1

%:
	dh $@ --with=systemd

override_dh_auto_clean:
	if test "${CLEAN}" = "1"; then \
	        cargo clean; \
	fi

	if ! ischroot && test "${VENDOR}" = "1"; then \
	        mkdir -p .cargo; \
	        cargo vendor | head -n -1 > .cargo/config; \
	        echo 'directory = "vendor"' >> .cargo/config; \
	        tar pcf vendor.tar vendor; \
	        rm -rf vendor; \
	fi

override_dh_auto_build:
	just rootdir=$(DESTDIR) debug=$(DEBUG) vendor=$(VENDOR)

override_dh_auto_install:
	just rootdir=$(DESTDIR) sysconfdir="/usr/share" install

override_dh_installinit:
	dh_installinit -r

override_dh_systemd_start:
	dh_systemd_start -r