[Unit]
Description=Automatically configure CPU scheduler for responsiveness on AC

[Service]
ExecStart=/usr/bin/system76-scheduler daemon
Type=dbus
BusName=com.system76.Scheduler

[Install]
WantedBy=multi-user.target